#map_container {
  float:left;
  width: 300px;
  height: 300px;
  text-align: center;
}

#map {
  float:left;
  width: 300px;
  height: 300px;
  border: 1px solid #333
}

#form {
  float:left;
  margin: 0 2em 0 0;
  width: 500px;
}

#form label {
  float:left;
  margin: 0.3em 0;
  width: 100%;
}

#street {
  float:left;
  width: 100%;
}

#city {
  float:left;
  width: 100%;
}

#state {
  float:left;
  width: 100%;
}

#zip {
  float:left;
  width: 100%;
}

#country {
  float:left;
}

#submit {
  float:left;
  clear:left;
  margin: 1em 0 0 0;
}

#suggests { 
  float:left;
  width: 500px;
}

#suggests a {
  float:left;
  width: 100%;
}

.spinner {
  background: url(spinner.gif) no-repeat top right;
}