<% @title = "Home" %>

<div id="address_chooser">
  <form id='form' onsubmit='displayAddress(); return false;'>
    <label for='street'>Street</label>
    <input type='text' name='street' id='street' class='text street' />

    <label for='city'>City</label>
    <input type='text' name='city' id='city' class='text city' value=''/>

    <label for='zip'>ZIP Code</label>
    <input type='text' name='zip' id='zip' class='text zip' />

    <label for='state'>State</label>
    <input type='text' name='state' id='state' class='text state' />

    <label for='country'>Country</label>
    <select  name='country' id='country' class='country'>
      <option value=''>Select your country</option>
      <option value='France'>France</option>
      <option value='USA'>USA</option>
    </select>
  
    <input type='submit' value='Save' id='submit'  class='submit'/>
    <input type='hidden' name='lat' id='lat' />
    <input type='hidden' name='lng' id='lng' />
  </form>

  
  <div id='map_container'>
    <div id="big_spinner" style="display:none"></div>
    <div id='map'></div>
    <div id='map_tooltip'>
      drag marker to fix location
    </div>
  </div>

  <div class="clear"></div>
</div>
<div class="legend">Address form enhanced by <b>Mapeed.AddressChooser</b></div>
<br/>
<pre>
  <code class="javascript">// Create Mapeed.AddressChooser
  var widget = new Mapeed.AddressChooser.Widget(
    { onInitialized: function(widget) {
        // Add small map control (zoom and pan)
        widget.getMap().addControl(new GSmallMapControl());  

        // Center map on selected address or on user location
        widget.initMap();

        // Focus street field
        document.getElementById('street').focus();
      },
      spinner: 'big_spinner'});</code>
</pre>
<div class="legend">Javascript code</div>

<h1>Introduction</h1>
<b>Mapeed.AddressChooser</b> is a Javascript script to create a nice address form for any websites that need to collect addresses. For example getting user's address, place's location or anything that can be localized on a map. This script just add behavior on HTML form, it does'nt generate HTML markup and can be plugged on any existing forms.
<br/>
<br/>
This widget behavior has been inspired by <a href="http://www.google.com/local/add/lookup">Google Local Business Center</a>.

<h1>Features</h1>

<b>Mapeed.AddressChooser</b>'s features are:
<ul class='features'>
  <li><strong>Javascript framework-agnostic</strong>. You can use it as is or with any great frameworks like Prototype, JQuery, YUI ...</li>
  <li>
    <strong>Mapping system independent</strong>. The current implementation is based on Google Map using a Google Map proxy object. 
    <br/>
    But you can create your own map proxy (Yahoo Map for instance). You need to implement public method of Map Proxy object. 
  </li>
  <li><strong>Interactive map</strong> display location while you are typing an address. But it can be disabled if you want, for instance, a button 'display on map'. </li>
  <li>Handle <strong>placemark suggests</strong> (check out <%= link_to 'example based on scriptaculous autocomplete', "#{ROOT_DIR}/example/with_prototype.html" %>).</li>
  
  <li><strong>Center map on user location</strong> (based on its IP) if mapping system allows it.</li>
  <li><strong>Fully customizable</strong>.</li>
   <li>Works on Safari, Firefox, IE 6/7, Chrome and Opera.</li>
  <li>Documentation generated with <a href='http://www.pdoc.org'>PDoc</a>.</li>
  <li>Packed version is only <strong>6Ko</strong>.</li>
  <li><strong>Open source</strong>, full code is available on <a href='http://github.com/mapeed/addresschooser/'>github.</a>
  <li>...</li>
</ul>
Check out examples and documentation for API details.

<h1>Download</h1>
<ul class='features'>
  <li>Full code from  <a href="http://github.com/mapeed/addresschooser/tree/master">github</a>. If you fix bugs or add features, it's the best way to start with.</li>
  <li>Full code from a <a href="http://github.com/mapeed/addresschooser/zipball/master">zip file</a>.</li>
  <li>Or if you just want the javascript file: <a href="../dist/addresschooser.js">Uncompressed</a> or <a href="../dist/addresschooser_packed.js">Packed version</a>.</li>
</ul>

<script src="http://maps.google.com/jsapi?key=ABQIAAAAPvuQxAHKdvs2AzUcIgAydBSETxe3qBmLdxF0QQkLqemEKq7m_hQlfgsFv1oarKkV90vgnDaysupsXQ" type="text/javascript"></script>
<script src="javascripts/addresschooser.js" type="text/javascript"></script>
<script src="javascripts/demo.js" type="text/javascript"></script>
<script>
  //CodeHighlighter.init();
</script>
