<% unless object.arguments.empty? %>
  <ul class="argument-list">
    <% object.arguments.each do |arg| %>
      <li>
        - <code><%= arg.name %></code>
        <% unless arg.types.empty? %>
          (<%= arg.types.map { |t| auto_link(t, false) }.join(' | ') %>)
        <% end %>
        <%= ' &ndash; ' + arg.description unless arg.description.empty? %>
      </li>
    <% end %>
  </ul>
<% end %>
